<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/AdminCss")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="@Url.Content("~/Content/img/favicon.ico")" type="image/x-icon" />
</head>
<body>
    <!-- section header -->
    @*@if (User.Identity.IsAuthenticated)
    {*@
    @Html.Action("Sidebar","Menu")
    @*}*@
    <!-- section content -->
    <section class="section">
        <div class="row-fluid">
            <!-- span side-left -->
            <div class="span1">
                <!--side bar-->
                <aside class="side-left light">
                    <ul id="menu" class="sidebar">
                        <li class="active first">
                            <!--always define class .first for first-child of li element sidebar left-->
                            <a href="@Url.Action("Index","Home")" title="Anasayfa">
                                <div class="helper-font-24">
                                    <i class="icofont-home"></i>
                                </div>
                                <span class="sidebar-text">Anasayfa</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Cake")" title="Pastalar">
                                <div class="helper-font-24">
                                    <i class="icofont-heart"></i>
                                </div>
                                <span class="sidebar-text">Pastalarım</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Home")" title="Kategori">
                                <div class="helper-font-24">
                                    <i class="icofont-th-large"></i>
                                </div>
                                <span class="sidebar-text">Kategori</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create","Cake")" title="Pasta Ekle">
                                <div class="helper-font-24">
                                    <i class="icofont-plus-sign"></i>
                                </div>
                                <span class="sidebar-text">Pasta Ekle</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Home")" title="Mesajlar">
                                <div class="helper-font-24">
                                    <i class="icofont-envelope-alt"></i>
                                </div>
                                <span class="sidebar-text">Mesajlar</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Home")" title="Teslimat">
                                <div class="helper-font-24">
                                    <i class="icofont-truck"></i>
                                </div>
                                <span class="sidebar-text">Teslimat</span>
                            </a>
                        </li>
                    </ul>
                </aside><!--/side bar -->
            </div><!-- span side-left -->

            <div class="span9">
                <div class="content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>

    <footer>
        
    </footer>

   @*@Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/jqueryui")*@
    @Scripts.Render("~/bundles/AdminScripts")
    <script type="text/javascript">
        var relativePath = '@Url.Content("~/")';
    </script>

    <!-- Initialize the jQuery File Upload Plugin -->
    @RenderSection("scripts", required: false)


</body>
</html>

