<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/AdminCss")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @*<link rel="shortcut icon" href="@Url.Content("~/Content/img/favicon.ico")" type="image/x-icon" />*@
</head>
<body>
    <!-- section header -->
    @*@if (User.Identity.IsAuthenticated)
        {*@
    @Html.Action("Sidebar", "Menu")
    @*}*@

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="@Url.Action("Index","Home")">Anasayfa</a></li> 
                    <li><a href="#">Kategori Ekle</a></li>
                    <li><a href="#">Pasta Ekle</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="@Url.Action("Index","Cake")">Pastalarım</a></li>
                    <li><a href="">Kategori Ekle</a></li>
                    <li><a href="">Pasta Ekle</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Referanslarım</a></li>
                    <li><a href="">Referans Ekle</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Raporlar</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @RenderBody()
            </div>
        </div>
    </div>
 
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")*@
    @Scripts.Render("~/bundles/AdminScripts")
    <script type="text/javascript">
        var relativePath = '@Url.Content("~/")';
    </script>

    <!-- Initialize the jQuery File Upload Plugin -->
    @RenderSection("scripts", required: false)

</body>
</html>

