@using ichigocake.common.Resources
@model ichigocake.admin.Models.CakeModel
@{
    ViewBag.Title = "Pasta Ekle";
}
<div class="content-header">
    <h2><i class="icofont-home"></i> Pasta Ekle <small> ichigo cake yeni pasta ekle</small></h2>
</div><!-- /content-header -->
<!-- content-body -->
<div class="content-body">
    <div id="validation" class="row-fluid">
        <!--span-->
        <div class="span12">
            <!--box-->
            <div class="box corner-all">
                <!--box header-->
                <div class="box-header grd-white color-silver-dark corner-top">
                    <div class="header-control">
                        <a data-box="collapse"><i class="icofont-caret-up"></i></a>
                    </div>
                    <span>Pasta Ekle</span>
                </div><!--/box header-->
                <div class="row" id="SuccessAlert" style="display: none;">
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Firma Başarıyla Kaydedilmiştir.
                    </div>
                </div>
                <div class="row" id="ErrorAlert" style="display: none;">
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Bir Hata Oluştu. Arkaplan resmi eklediniz mi?
                    </div>
                </div>
                <!--box body-->
                <div class="box-body" id="CreateNewCakeForm">
                    <!--validation-->
                    @using (Ajax.BeginForm("Create", "Cake", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnAjaxSuccess", UpdateTargetId = "CreateNewCakeForm" }, new { @class = "form-horizontal form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <fieldset>
                            <legend>Yeni Pasta Ekle</legend>
                            <div class="control-group">
                                @Html.LabelFor(t => t.Name, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(t => t.Name, new { @class = "grd-white" })
                                    @Html.ValidationMessageFor(t => t.Name, "")
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(t => t.Description, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(t => t.Description, new { @class = "grd-white" })
                                    @Html.ValidationMessageFor(t => t.Description, "")
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(t => t.Category, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(t => t.Category, new { @class = "grd-white" })
                                    @Html.ValidationMessageFor(t => t.Category, "")
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(t => t.PiePrice, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(t => t.PiePrice, new { @class = "grd-white" })
                                    @Html.ValidationMessageFor(t => t.PiePrice, "")
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(t => t.IsDecorative, new { @class = "control-label" })
                                <div class="controls">
                                    <label class="radio">
                                        <div class="">
                                            <span>
                                                @Html.RadioButtonFor(m => m.IsDecorative, true)
                                            </span>
                                        </div>
                                        Dekoratif
                                    </label>
                                    <br />
                                    <label class="radio">
                                        <div class="">
                                            <span>
                                                @Html.RadioButtonFor(m => m.IsDecorative, false)
                                            </span>
                                        </div>
                                        Dekoratif Değil
                                    </label>
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(t => t.ImageDescription, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(t => t.PiePrice, new { @class = "grd-white" })
                                    @Html.ValidationMessageFor(t => t.PiePrice, "")
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <div class="image">
                                        @Html.LabelFor(t => t.CakeImage)
                                        <p style="text-align: center;">
                                            <img id="companyImage" alt="" src="@Url.Content("~/Content/CompanyImages/default.jpg")" width="460" height="460" />
                                        </p>
                                    </div>
                                    <div id="file-uploader">
                                        <noscript>
                                            <p>
                                                @ErrorStrings.FileUploadError
                                            </p>
                                            <!-- or put a simple form for upload here -->
                                        </noscript>
                                    </div>
                                    @Html.HiddenFor(model => model.CakeImage.Url, new { id = "EditPhotoUrl" })
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                                <button type="button" class="btn">Sil</button>
                            </div>
                        </fieldset>
                    }
                </div><!--/box body-->
            </div><!--/box-->
        </div><!--/span-->
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            if (document.getElementById('file-uploader') != null) {
                var uploader = new qq.FileUploader({
                    element: document.getElementById('file-uploader'),
                    action: relativePath + 'Cake/UploadImages',
                    allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                    //sizeLimit: 1048576,
                    onComplete: function (id, fileName, responseJSON) {
                        $('.qq-upload-list').html('');
                        $('#PhotoUrl').val(responseJSON.ImageName);
                        $('#companyImage').attr('src', relativePath + 'Content/CakeImages/CakeTemp/' + responseJSON.ImageName);
                    }
                });
            }
            $(".qq-upload-button").click(function (e) {
                $("#file123").click();
            });
        });
    </script>
}