@model ichigocake.web.Models.CakeDetailViewModel
@{
    ViewBag.Title = "İchigo Cake - Pasta Detay Sayfası";
    ViewBag.Description = "";
    ViewBag.Keywords = "";
}

<div class="blog-detail">
    <h2>Pasta Detay SAYFASI</h2>
    <hr />
    <!-- Blog item Gallery -->
    <div class="row span10">
        <div class="span3">
            <ul class="thumbnails">
                @foreach (var img in Model.Cake.CakeImages)
                {
                    <li class="span3 view-fancybox" style="-webkit-box-shadow: 2px 2px 10px 10px #C3969B; -ms-box-shadow: 2px 2px 10px 10px #C3969B; box-shadow: 2px 2px 10px 10px #C3969B; ">
                        <img alt="@img.Description" src="@Url.Content("~/Content/SiteContent/Cake/"+img.Url)"/>

                        <!-- Blog item fancybox -->
                        <a href="@Url.Content("~/Content/SiteContent/Cake/"+img.Url)" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                    </li>
                }
            </ul>
        </div>
        <div class="span6">
            <p class="lead">@Model.Cake.Name</p>
            <p class="date-post">
                @if (Model.Cake.IsDecorative)
                { <i>Şeker Hamuru ile Dekoratif Pasta</i> }
                else
                { <i>Şeker Hamuru ile Dekor Yapılmamıştır</i> }  <a href="//www.pinterest.com/pin/create/button/?url=@Url.Content("~/Content/SiteContent/Cake/" + Model.Cake.CakeImages[0].Url)&description=@Model.Cake.CakeImages[0].Description" data-pin-do="buttonPin" data-pin-shape="round"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_round_red_16.png" /></a>

            </p>
            <p class="margin-bottom-half">@Model.Cake.Description</p>
            <p class="margin-bottom"><a id="sendmail" data-toggle="modal" href="#sendOrderModal" class="btn btn-large btn-block pull-right"><i class="icon-shopping-cart"></i> - SİPARİŞ VER</a></p>

        </div>
    </div>
    <hr />
</div>
@using (Ajax.BeginForm("CakeDetail", "Cake", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "cakeOrderForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <!-- Modal -->
    <div id="sendOrderModal" class="modal hide fade" style="width: 650px">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <p class="lead">Sipariş Formu</p>
        </div>
        <div class="modal-body" id="sendOrderModalBody">
            <div class="clearfix">
                <div class="row">
                    <div class="span2"><img alt="@Model.Cake.CakeImages[0].Description" src="@Url.Content("~/Content/SiteContent/Cake/" + Model.Cake.CakeImages[0].Url)" /></div>
                    <div class="span4">
                        <p class="lead">@Model.Cake.Name</p>
                        <p class="date-post">
                            Bu kategoriye ait pasta veya kurabiyeler en az <a><b>@Model.Cake.Category.MaxDaytoOrder</b></a> gün önce sipariş verilmelidir. Sipariş teslimat yalnızca Bursa ili içerisindedir.
                        </p>
                    </div>
                </div>
                <br />
                <div id="cakeOrderForm">
                    <div id="response" class="alert-error"></div>
                    <div id="response-true" class="alert-success"></div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" name="@Html.NameFor(x => x.FullName)" id="FullName" placeholder="İsim ve Soyisim" value="@Model.FullName" />
                            @*@Html.TextBoxFor(t => t.FullName, new { @class = "input-large", @placeholder = "İsim ve Soyisim" })
                                @Html.ValidationMessageFor(t => t.FullName)*@
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" name="@Html.NameFor(x => x.Email)" id="Email" placeholder="E-Posta Adresi" value="@Model.Email" />
                            @*@Html.TextBoxFor(t => t.Email, new { @class = "input-large", @placeholder = "E-Posta Adresi" })
                                @Html.ValidationMessageFor(t => t.Email)*@
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" name="@Html.NameFor(x => x.Phone)" id="Phone" placeholder="Telefon Numarası" value="@Model.Phone" />
                            @*@Html.TextBoxFor(t => t.Phone, new { @class = "input-large", @placeholder = "Telefon Numarası" })
                                @Html.ValidationMessageFor(t => t.Phone)*@
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" name="@Html.NameFor(x => x.RequestedDate)" id="RequestedDate" placeholder="Etkinlik Tarihi" />
                            @*@Html.TextBoxFor(t => t.RequestedDate, new { @class = "input-large", @placeholder = "Etkinlik Tarihi" })
                                @Html.ValidationMessageFor(t => t.RequestedDate)*@
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" name="@Html.NameFor(x => x.RequestedTime)" id="RequestedTime" placeholder="Etkinlik Saati" />
                            @*@Html.TextBoxFor(t => t.RequestedTime, new { @class = "input-large", @placeholder = "Etkinlik Saati" })
                                @Html.ValidationMessageFor(t => t.RequestedTime)*@
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" name="@Html.NameFor(x => x.PersonAmount)" id="PersonAmount" placeholder="Kaç Kişilik?" />
                            @*@Html.TextBoxFor(t => t.PersonAmount, new { @class = "input-large", @placeholder = "Kaç Kişilik?" })
                                @Html.ValidationMessageFor(t => t.PersonAmount)*@
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <textarea rows="3" name="@Html.NameFor(x => x.Address)" id="Address" placeholder="Adres Bilgisi">@Model.Address</textarea>
                            @*@Html.TextBoxFor(t => t.Address, new { @class = "input-large", @placeholder = "Adres Bilgisi" })
                                @Html.ValidationMessageFor(t => t.Address)*@
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <textarea name="@Html.NameFor(x => x.Description)" id="Description" placeholder="Sipariş Notu">@Model.FullName</textarea>
                            @*@Html.TextBoxFor(t => t.Description, new { @class = "input-large", @placeholder = "Sipariş Notu" })
                                @Html.ValidationMessageFor(t => t.Description)*@
                        </div>
                    </div>
                    <input type="hidden" id="CakeId" value="@Model.Cake.Id"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">KAPAT</button>
            <button type="submit" id="sendOrderBtn" class="btn btn-primary">SİPARİŞ GÖNDER</button>
        </div>
    </div>
}
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            jQuery(function ($) {
                $("#Phone").mask("(0999) 999 99 99");
                $("#RequestedDate").mask("99/99/9999");
                $("#RequestedTime").mask("99:99");
            });
        });
        $(document).on("click", "#sendmail", function () {
            $("#sendOrderModal").modal("show");
        });

    </script>
}
